<h1>Editing User</h1>

<%= render 'form' %>

<div id="shift-details" style="display:none;"></div>
<%= link_to 'List Shift Details', shift_details_url, remote: true %> |
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
